.container{  
    display: flex;
    flex-direction: row;
}
 
.item {
    flex: 1;
    padding: 20px;
    margin: 5px;
    background-color: lightblue;
    border: 1px solid darkblue;
    text-align: center;
}
.item img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto 10px;
}

.flex-container {
    display: flex;
    align-items: center;
    background-color: #333333;
}

.flex-item {
    margin: 0px 15px;
    padding: 15px 10px;
    background-color: #333333;
    color: white;
    text-align: center;
}

.flex-item:hover {
    background-color: #bdbbbb;
}

a {
    color: white;
    text-decoration: none;
}

.dropdown {
    position: relative;  
}

.dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 180px;
    background-color: white;
    color: black;
    display: none;

}

.dropdown-content a {
    display: block;
    padding: 10px 15px;
    color: black;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f0f0f0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

